
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ficha de Anamnese</title>
</head>
<body>
    <h1>Ficha de Anamnese</h1>

    <form th:action="@{/fichas}" th:object="${fichaAnamnese}" method="post">
        <!-- Campo oculto para o ID do paciente -->
        <input type="hidden" th:field="*{paciente.id}"/>

        <fieldset>
            <legend>Dados Pessoais</legend>
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" th:field="*{endereco}" required>

            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" th:field="*{bairro}" required>

            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" th:field="*{cidade}" required>

            <label for="estado">Estado:</label>
            <input type="text" id="estado" th:field="*{estado}" required>

            <label for="cep">CEP:</label>
            <input type="text" id="cep" th:field="*{cep}" required>

            <label for="sexo">Sexo:</label>
            <select id="sexo" th:field="*{sexo}">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </select>

            <label for="profissao">Profissão:</label>
            <input type="text" id="profissao" th:field="*{profissao}">

        </fieldset>

        <fieldset>
            <legend>Dados Gerais</legend>
            <label for="queixaPrincipal">Queixa Principal:</label>
            <textarea id="queixaPrincipal" th:field="*{queixaPrincipal}"></textarea>

            <label>Costuma ir ao Podólogo?</label>
            <input type="checkbox" th:field="*{costumaIrAoPodologo}">

            <label for="frequenciaPodologo">Frequência:</label>
            <input type="text" id="frequenciaPodologo" th:field="*{frequenciaPodologo}">
        </fieldset>

        <!-- Outras seções podem ser adicionadas aqui, como Dados Clínicos, Lesões etc. -->

        <br>
        <button type="submit">Salvar</button>
        <a href="/paciente">Cancelar</a>
    </form>
</body>
</html>
